<span>hello benjamin , New to shopify ?</span>



{% render "app_snippet" %}
{% schema %}
  {
    "name": "benjamin",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "label": "color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}